@tailwind base;
@tailwind components;
@tailwind utilities;

/* Define a fade-in animation */
@keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  /* Apply the fade-in animation to elements with the class 'fade-in' */
  .fade-in {
    animation: fadeIn 5s ease-in-out;
  }
  